*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: auto;
    margin: auto;
}

/* header start  */
.header{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding-bottom: 10px;
}
.head h1{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 20px;
    color: #7a6960;
    font-family: "Raleway", sans-serif;
}
.header-flex{
    display: flex;
    justify-content: space-between;
}
.header-list{
    display: flex;
}
.header-list li{
    list-style-type: none;
    margin-left: 20px;
    margin-top: 20px;
    color: #7a6960;
    font-family: "Raleway", sans-serif;
}
.header-list button{
    border: none;
    background: #eb5d1e;
    color: #fff;
    padding: 10px 25px;
    margin-left: 30px;
    border-radius: 50px;
    margin-top: 10px;
}
/* header ends */

/* banner starts */
.container{
	width:100%;
	margin:auto;
	padding-left: 15px;
	padding-right: 15px;
}
.banner{
	background-color: #f5ebe6;
	height:auto;
}
.banner-flex{
    width: 100%;
    padding-top: 80px;
}
.banner-flex .banner-img{
	width:100%;
}
.banner-img img{
	width: 90%;
    height: auto;
    margin-top: 20px;
}
.banner-text h1{
	font-family: "Raleway", sans-serif;
	color: #4e4039;
	font-size:28px;
	padding-bottom:20px;
}
.banner-text p{
	font-family: "Raleway", sans-serif;
	padding-top:15px;
    color: #a08f86;
	font-size: 18px;
}
.banner-flex button{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 3px;
    transition: 0.5s;
    margin-top: 40px;
    background: #ef7f4d;
    color: #fff;
    border: none;
}
@media (min-width:768px){
	.container{
		width:90%;
		margin:auto;
		padding-left: 15px;
		padding-right: 15px;
	}
    .banner{
        background-color: #f5ebe6;
        height:auto;
    }
    .banner-flex{
        width: 100%;
    }
    .banner-text{
        width: 50%;
    }
	.banner-img img{
		width:100%;
		height:auto;
	}
    .banner-text h1{
        font-family: "Raleway", sans-serif;
        color: #4e4039;
        font-size:48px;
        font-weight: 700;
        padding-bottom:20px;
    }
    .banner-text p{
        font-family: "Raleway", sans-serif;
        padding-top:15px;
        color: #a08f86;
        font-size: 24px;
    }
    .banner-flex button{
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 3px;
        transition: 0.5s;
        margin-top: 40px;
        background: #ef7f4d;
        color: #fff;
        border: none;
    }
}    
@media (min-width:1024px){
	.container{
		width:82%;
		margin:auto;
		padding-left: 15px;
		padding-right: 15px;
	}
    .banner{
        background-color: #f5ebe6;
        height:auto;
    }
    .banner-flex{
        width: 100%;
        display: flex;
    }
    .banner-text{
        width: 50%;
        padding-top: 30px;
    }
    .banner-img{
        width: 50%;
    }
	.banner-img img{
		width: 100%;
		height:auto;
        padding-left:100px;
	}
    .banner-text h1{
        font-family: "Raleway", sans-serif;
        color: #4e4039;
        font-size: 48px;
        font-weight: 700;
        padding-bottom:20px;
    }
    .banner-text p{
        font-family: "Raleway", sans-serif;
        padding-top:15px;
        color: #a08f86;
        font-size: 24px;
    }
    .banner-flex button{
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 8px 28px;
        border-radius: 3px;
        transition: 0.5s;
        margin-top: 40px;
        background: #ef7f4d;
        color: #fff;
        border: none;
    }
}
/* banner ends */

/* about starts */
.container{
	width:100%;
	margin:auto;
	padding-left: 15px;
	padding-right: 15px;
}
.about-flex{
    height: auto;
    width: 100%;
}
.first-about{
    width: 100%;
    margin-top: 20px;
}
.first-about img{
    width: 90%;
}
.second-about h1{
    font-weight: 600;
    font-size: 30px;
    color: #4e4039;
    font-family: "Raleway", sans-serif;
}
.second-about p{
    font-size: 12px;
    color: #5a6570;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}
.about-child i{
    font-size: 30px;
    margin-top: 10px;
    color: #f39e7a;
}
.about-child p{
    margin-top: 7px;
}
.childs{
    margin-top: 15px;
}

@media (min-width:768px){
	.container{
		width:90%;
		margin:auto;
		padding-left: 15px;
		padding-right: 15px;
	}
    .about-flex{
        height: auto;
        width: 100%;
    }
    .first-about{
        width: 100%;
        margin-top: 20px;
    }
    .first-about img{
        width:  100%;
    }
    .second-about h1{
        font-weight: 700;
        font-size: 32px;
        color: #4e4039;
        font-family: "Raleway", sans-serif;
    }
    .second-about p{
        font-size: 15px;
        color: #5a6570;
        margin-top: 20px;
        font-family: "Open Sans", sans-serif;
    }
    .about-child{
        display: flex;
    }
    .about-child i{
        font-size: 30px;
        margin-top: 10px;
        color: #f39e7a;
    }
    .about-child p{
        margin-top: 7px;
        font-size: small;
    }
    .childs{
        margin-top: 15px;
        padding-left: 7px;
    }

}    
/* about ends */
